::-webkit-scrollbar {
    width: 10px;
}

.shader-web-background-fallback {
    background: url("https://placekitten.com/727/727");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}